<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hecrpu.simarro.bancoaplicacion">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Vankio"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.GestionCajeroActivity"></activity>
        <activity android:name=".activity.ConfiguracionActivity" />
        <activity android:name=".activity.MovimientosCuentaActivity" />
        <activity
            android:name=".activity.GlobalActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".TransferActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".CambiarClave"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".PrincipalActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.PreferenceActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DatosCuenta"
            android:parentActivityName=".TransferActivity" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".TransferActivity" />
    </application>

</manifest>